server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: backend-notifications
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
external:
  api:
    jsonplaceholder:
      base-url: ${EXTERNAL_API_BASE_URL:https://jsonplaceholder.typicode.com}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
